/*========== LAYOUT ============*/
body, html, #home{
	height: 100%;
	overflow-x: hidden;
}
body{
	background: url(../img/capa.png), url(../img/ruido.png), linear-gradient(50deg, #ff4169, #7c26f8);
	background-attachment: fixed;
	font-family: Arial, Helvetica, sans-serif;
}
.centralizar-texto{
	text-align: center;
}
/*========== NAVEGAÇÃO ============*/
.navbar-transparente{
	background: rgba(0,0,0,.6);
	padding: 15px 0;
}
.navbar-light .navbar-nav .nav-link{
	color: white;
	font-size: 1.2em;
	border-bottom: 2px solid rgba(0,0,0,0);
}
.navbar-light .navbar-nav .nav-link:hover{
	color:white;
	border-bottom: 2px solid rgb(224, 111, 228);
	background: rgba(224, 111, 228, .1);
	border-radius: 5px;
	transition: .3s;
}
.navbar-light .navbar-toggler{
	border-color: white;
}
.divisor{
	width: 2px;
	background: rgb(224, 111, 228);
	margin: 8px 30px;
}
/*========== Conteúdo HOME ============*/
h1{
	font-weight: bolder;
	margin-bottom: 50px;
	color: white;
	letter-spacing: -0.07em;
}
h2{
	font-size: 3em;
	font-weight: 700;
	letter-spacing: -0.04em;
}
h3{
	font-size: 2em;
	font-weight: 700;
	letter-spacing: -0.04em;
}

.btn-personalizado{
	border-radius: 500px;
	text-transform: uppercase;
	padding: 15px 33px;
	transition: .5s;
}
.btn-roxo{
	background: rebeccapurple;
	border-color: rebeccapurple;
	color: white;
}
.btn-roxo:hover{
	background: linear-gradient(0deg, rgb(224, 111, 228), #7c26f8);
	border: 4px solid rebeccapurple;
	font-weight: bolder;
	box-shadow: 0px 0px 10px black;
}
.btn-branco{
	background: white;
	border-color: rebeccapurple;
	margin-left: 20px;
}
.btn-branco:hover{
	background: linear-gradient(0deg, rgb(241, 208, 17), #eeff01);
	border: 4px solid black;
	font-weight: bolder;
	box-shadow: 0px 0px 10px black;
}
/*========== Conteúdo SERVIÇOS ============*/
.servicos{
	padding: 20px 0;
	background:white;
}
.albuns{
	padding-top: 10px;
	padding-bottom: 10px;
}
.borda-roxa{
	border: 1px solid rebeccapurple;
	border-radius: 6px;
	box-shadow: 0px 3px 3px rgba(0,0,0,.1);
}
.fonte-roxa{
	color: rebeccapurple;
}
.fonte-branca{
	color: white;
	text-shadow: 0px 2px 3px rgba(0,0,0,.3);
}
.recursos{
	padding: 20px 0;
}
/*========== Conteúdo RECURSOS ============*/
.rotate{
	transform: rotate(30deg);
	padding-left: 80px;
	-webkit-filter: drop-shadow(12px 12px 15px rgba(0,0,0,0.5));
}

/*========== Conteúdo RODAPÉ ============*/
footer{
	padding: 40px 0 30px 0;
	background: black;
	position: relative;
}

footer a{
	color: rebeccapurple;
	text-decoration: none;
}
footer a:hover{
	color: white;
	text-decoration: none;
}
footer h4{
	color: rgb(224, 111, 228);
	font-size: .8em;
}
.redes-sociais{
	font-size: 3em;
}

/* Dispositivos extra small (telefones em modo retrato, com menos de 576px)*/
@media (max-width: 575.99px) {
	.navbar-expand-md{
		padding-left: 20px;
		padding-right: 20px;
	}
	h1{
		font-size: 3.5em;
		margin-bottom: 20px;
	}
	.btn-branco{
		margin-left: 0;
		margin-top: 10px;
	}
	.rotate{
		transform: rotate(0deg);
		width: 80%;
	}
	footer{
		text-align: center;
	}
	footer ul{
		list-style: none;
	}
	footer a{
		text-indent: -30px;
	}
	footer h4{
		border-top: 1px solid rebeccapurple;
		margin-top: 20px;
		padding-top: 10px;
	}
	.redes-sociais a{
		text-indent: 0;
	}
}

/* Dispositivos small (telefones em modo paisagem, com 576px ou mais)*/
@media (min-width: 576px) and (max-width: 767.99px) {
	h1{
		font-size: 3.5em;
	}
	.btn-branco{
		margin-left: 0;
		margin-top: 30px;
	}
	.rotate{
		transform: rotate(0deg);
		width: 80%;
	}
	footer{
		text-align: center;
	}
	footer ul{
		list-style: none;
	}
	footer a{
		text-indent: -30px;
	}
	footer h4{
		border-top: 1px solid rebeccapurple;
		margin-top: 20px;
		padding-top: 10px;
	}
	.redes-sociais a{
		text-indent: 0;
	}
}

/* Dispositivos médios (tablets com 768px ou mais)*/
@media (min-width: 768px) and (max-width: 991.99px) {
	h1{
		font-size: 5em;
	}
	.btn-branco{
		margin-left: 30px;
		margin-top: 0;
	}
}

/* Dispositivos large (desktops com 992px ou mais)*/
@media (min-width: 992px) and (max-width: 1199.99px) {
	h1{
		font-size: 7em;
	}
	.btn-branco{
		margin-left: 30px;
		margin-top: 0;
	}
}

/* Dispositivos extra large (desktops grandes com 1200px ou mais)*/
@media (min-width: 1200px) {
	h1{
		font-size: 8em;
		margin-bottom: 80px;
	}
	.btn-branco{
		margin-left: 30px;
		margin-top: 0;
	}
	
}
